<% if current_user %>
  <p><%= "#{current_user.username}" %></p>
  <%= link_to "Logout", logout_path, method: :delete %>
<% else %>
  <%= link_to "Login with Github", github_login_path, class: "github-login-btn" %>
<% end %>
